@tailwind base;
@tailwind components;
@tailwind utilities;

/* BOLD */
@font-face {
  font-family: "Matter SQ";
  font-weight: 700;
  src: url("/fonts/MatterSQTRIAL-Bold.woff") format("woff"),
    url("/fonts/MatterSQTRIAL-Bold.woff2") format("woff2"),
    url("/fonts/MatterSQTRIAL-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Matter SQ";
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/MatterSQTRIAL-BoldItalic.woff") format("woff"),
    url("/fonts/MatterSQTRIAL-BoldItalic.woff2") format("woff2"),
    url("/fonts/MatterSQTRIAL-BoldItalic.otf") format("opentype");
}

/* HEAVY */
@font-face {
  font-family: "Matter SQ";
  font-weight: 800;
  src: url("/fonts/MatterSQTRIAL-Heavy.woff") format("woff"),
    url("/fonts/MatterSQTRIAL-Heavy.woff2") format("woff2"),
    url("/fonts/MatterSQTRIAL-Heavy.otf") format("opentype");
}

@font-face {
  font-family: "Matter SQ";
  font-style: italic;
  font-weight: 800;
  src: url("/fonts/MatterSQTRIAL-HeavyItalic.woff") format("woff"),
    url("/fonts/MatterSQTRIAL-HeavyItalic.woff2") format("woff2"),
    url("/fonts/MatterSQTRIAL-HeavyItalic.otf") format("opentype");
}

/* LIGHT */
@font-face {
  font-family: "Matter SQ";
  font-weight: 300;
  src: url("/fonts/MatterSQTRIAL-Light.woff") format("woff"),
    url("/fonts/MatterSQTRIAL-Light.woff2") format("woff2"),
    url("/fonts/MatterSQTRIAL-Light.otf") format("opentype");
}

@font-face {
  font-family: "Matter SQ";
  font-style: italic;
  font-weight: 300;
  src: url("/fonts/MatterSQTRIAL-LightItalic.woff") format("woff"),
    url("/fonts/MatterSQTRIAL-LightItalic.woff2") format("woff2"),
    url("/fonts/MatterSQTRIAL-LightItalic.otf") format("opentype");
}

/* MEDIUM */
@font-face {
  font-family: "Matter SQ";
  font-weight: 500;
  src: url("/fonts/MatterSQTRIAL-Medium.woff") format("woff"),
    url("/fonts/MatterSQTRIAL-Medium.woff2") format("woff2"),
    url("/fonts/MatterSQTRIAL-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Matter SQ";
  font-style: italic;
  font-weight: 500;
  src: url("/fonts/MatterSQTRIAL-MediumItalic.woff") format("woff"),
    url("/fonts/MatterSQTRIAL-MediumItalic.woff2") format("woff2"),
    url("/fonts/MatterSQTRIAL-MediumItalic.otf") format("opentype");
}

/* REGULAR */
@font-face {
  font-family: "Matter SQ";
  font-weight: 400;
  src: url("/fonts/MatterSQTRIAL-Regular.woff") format("woff"),
    url("/fonts/MatterSQTRIAL-Regular.woff2") format("woff2"),
    url("/fonts/MatterSQTRIAL-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Matter SQ";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/MatterSQTRIAL-RegularItalic.woff") format("woff"),
    url("/fonts/MatterSQTRIAL-RegularItalic.woff2") format("woff2"),
    url("/fonts/MatterSQTRIAL-RegularItalic.otf") format("opentype");
}

/* SEMIBOLD */
@font-face {
  font-family: "Matter SQ";
  font-weight: 600;
  src: url("/fonts/MatterSQTRIAL-SemiBold.woff") format("woff"),
    url("/fonts/MatterSQTRIAL-SemiBold.woff2") format("woff2"),
    url("/fonts/MatterSQTRIAL-SemiBold.otf") format("opentype");
}

@font-face {
  font-family: "Matter SQ";
  font-style: italic;
  font-weight: 600;
  src: url("/fonts/MatterSQTRIAL-SemiBoldItalic.woff") format("woff"),
    url("/fonts/MatterSQTRIAL-SemiBoldItalic.woff2") format("woff2"),
    url("/fonts/MatterSQTRIAL-SemiBoldItalic.otf") format("opentype");
}

.rounded-primary {
  @apply rounded-[20px] md:rounded-[30px];
}

.rounded-b-primary {
  @apply rounded-b-[20px] md:rounded-b-[30px];
}

.rounded-t-primary {
  @apply rounded-t-[20px] md:rounded-t-[30px];
}

.rounded-tl-primary {
  @apply rounded-tl-[20px] md:rounded-tl-[30px];
}

.rounded-tr-primary {
  @apply rounded-tr-[20px] md:rounded-tr-[30px];
}

.rounded-bl-primary {
  @apply rounded-bl-[20px] md:rounded-bl-[30px];
}

.rounded-br-primary {
  @apply rounded-br-[20px] md:rounded-br-[30px];
}

.section {
  @apply mb-[80px] md:mb-[160px];
}
